---
import '../styles/index.css';

import ProfilePicture from '../assets/pfp.png';

import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import LandingePage from "../layouts/LandingPage.astro"
import ImageGlow from '../components/ImageGlow.astro';
import Icon from '../components/Icon.astro';
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';
import { name, openGraph } from 'spectre:globals';

import ASCIIText from '../components/TextAnimations/ASCIIText/ASCIIText';

const [posts, projects, about, workExperience, quickInfo, socials] = await Promise.all([
	getCollection('posts', (post) => post.data.draft !== true),
	getCollection('projects'),
	getEntry('other', 'about'),
	getCollection('workExperience'),
	getCollection('quickInfo'),
	getCollection('socials')
]);

// biome-ignore lint/style/noNonNullAssertion: Should always be defined.
const { Content: About } = await render(about!);
---
<LandingePage
	title={openGraph.home.title || name}
	description={openGraph.home.description}
	pagefindIgnore
>
	<div slot="hero">
		<ASCIIText client:load
			text='ARC'
			enableWaves={false}
			asciiFontSize={8}
			textColor={"#ccff00"}
		/>
	</div>
</LandingePage>