---
import '../styles/index.css';

import LandingPage from "../layouts/LandingLayout.astro"
import OrbitCursor from '../components/Cursors/OrbitCursor'
import AnimatedHero from '../components/AnimatedHero';

import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';
import { name, openGraph } from 'spectre:globals';

import ASCIIText from '../components/TextAnimations/ASCIIText/ASCIIText';

const [posts, projects, about, workExperience, quickInfo, socials] = await Promise.all([
	getCollection('posts', (post) => post.data.draft !== true),
	getCollection('projects'),
	getEntry('other', 'about'),
	getCollection('workExperience'),
	getCollection('quickInfo'),
	getCollection('socials')
]);

// biome-ignore lint/style/noNonNullAssertion: Should always be defined.
const { Content: About } = await render(about!);
---
<OrbitCursor client:only="react"/>
<LandingPage
	title={openGraph.home.title || name}
	description={openGraph.home.description}
	pagefindIgnore
>
	<div slot="hero">
		<AnimatedHero client:only="react"/>
	</div>
<!-- 	<GlitchText
		speed={.5}
		enableOnHover={false}
		className={'trailer'}
		fontSize={1.5}
	>
		{"Coming soon..."}
	</GlitchText> -->
</LandingPage>
<div class="bg-red-500 w-50 h-50 z-51 m-96" data-cursor-hover>
</div>
