---
import Particles from '../components/Backgrounds/Particles/Particles';
import "../styles/globals.css"
---

<div class="background fixed w-screen h-screen z-0">
	<Particles client:only="react"/>
</div>

<style>
	.background {
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -1;
	}
</style>
