---
import Particles from '../components/Backgrounds/Particles/Particles';
---

<div class="background">
	<Particles client:only="react"/>
</div>

<style>
	.background {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -1;
	}
</style>
